
.clockclass{
    background-color: aqua;
    border: 3px ridge black;
    margin: 10px;
    width: 120px;
}

.clockclass p{
    text-align: center;
    padding: 10px;
    margin: auto;
}

.timerclass{
    background-color: red;
    border: 3px ridge black;
    margin: 10px;
    width: 100px;
}

.timerclass p{
    text-align: center;
    padding: 10px;
    margin: auto;
}

.blockdiv{
    display: flex;
}