body{
    background-color: peachpuff;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 30px;
}
.header{
    background-color: darksalmon;
    border: 15px outset rgb(105, 1, 1);
}
h1 {
    text-align: center;
    font-size: 64px;
    text-shadow: -2px -2px 5px maroon;
    color: maroon;
    padding: 30px;
    background-color: darksalmon;
    border: 3px solid rgb(105, 1, 1);
    width: fit-content;
}
#menuLink{
    font-size: 40px;
    float: right; 
}

.menuItems {
    color: firebrick;
    margin: 30px 60px;
    float: left;
    background-color: deepskyblue;
    width: 150px;
    border:1px solid purple;
    padding: 10px;
}
.menuItems a{
    text-decoration: none;
    color: inherit;
}
.menuItems a:hover{
    text-decoration: underline;
}
.menuItems img{
    width: 25%;
    border: initial;
    padding: initial;
    background: initial;
    margin: initial;
}
.disc {
    width: 300px;
    margin: inherit;
}
img{
    margin: inherit;
}