
.recipe{
    padding: 45px;
    border: 1px solid black;
    margin: 10px;
    background-color: lightgray;
}
li{
    list-style-type: none;
}
li>h1:hover{
    animation: seesaw 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
ul{
    padding: 0;
}
@keyframes seesaw {
    50%{
        transform: rotate(15deg);
        opacity: 0;
    }
    25%, 75%{
        transform: rotate(-15deg);
        opacity: 1;
    }
}